# IDE
.vscode
!.vscode/launch.json

# OS
.DS_Store

# Python
__pycache__/
*.pyc
.mypy_cache
.pytest_cache

# Virtual Environment
.venv/

# Environment
.env.local
.env.*.local

# Application
/photobooth/app/configs/config.yml
build
photobooth.egg-info
/captures
/titles
/processed
