network:
    version: 2
    wifis:
        renderer: networkd
        wlan0:
            access-points:
{%- for item in wpa_supplicant_networks %}
                "{{ item.ssid }}":
                    password: {{ item.psk }}
{% endfor %}
            dhcp4: true
            optional: true
